<section>
    <nav class="navbar is-primary" role="" aria-label="">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="public/Images/logo-bkm.png" width="112" height="28">
            </a>
        </div>
    </nav>
</section>