<section>
    <nav class="navbar has-background-grey" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="Images/logo-bkm.png" width="112" height="28">
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/userlist">
                    Nutzerliste
                </a>
                <a class="navbar-item" href="/deparmentList">
                    Abteilungsliste
                </a>
                <a class="navbar-item" href="/companySettings">
                    Einstellungen
                </a>
                <a class="navbar-item" href="/passwords">
                    Passwortverwaltung
                </a>
                <a class="navbar-item" href="/accountView">
                    Kontoansicht
                </a>
                <a class="navbar-item" href="/logout">
                    Logout
                </a>
            </div>
        </div>
    </nav>
</section>