<%- include('../views/partials/head.ejs') %>
<body>
    <%- include('../views/partials/navbar.ejs') %>
    <section class="section">
        <div class="container">
            <h1 class="title">Benutzer erstellen</h1>
            <form action="/addUser" method="POST">
                <div class="field">
                    <label class="label">Nutzername</label>
                    <div class="control">
                        <input class="input" type="text" name="Nutzername" placeholder="Nutzername" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Vorname</label>
                    <div class="control">
                        <input class="input" type="text" name="Vorname" placeholder="Vorname" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Nachname</label>
                    <div class="control">
                        <input class="input" type="text" name="Nachname" placeholder="Nachname" required>
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" name="IsAdmin">
                        IsAdmin
                    </label>
                </div>  
                <div class="field">
                    <label class="label">Abteilung</label>
                    <div class="control">
                        <div class="select">
                            <select name="Abteilung">
                                <option value="" disabled selected>Wähle eine Abteilung</option>
                                <% abteilungen.forEach(function(abteilung) { %>
                                    <option value="<%= abteilung.Abteilungen %>"><%= abteilung.Abteilungen %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">LoginPasswort</label>
                    <div class="control">
                        <input class="input" type="password" name="LoginPasswort" placeholder="LoginPasswort" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">MasterPasswort</label>
                    <div class="control">
                        <input class="input" type="password" name="MasterPasswort" placeholder="MasterPasswort" required>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" type="submit">Erstellen</button>
                    </div>
                    <div class="control">
                        <a href="/userlist" class="button is-link">Abbrechen</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
