<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>Gespeichertes Passwort bearbeiten</title>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title"><img src="Icons/Closed.png" width="25" height="25"> Gespeichertes Passwort bearbeiten</h1>
            <form action="/updatePassword" method="POST">
                <% password.forEach(function(e, index) { %>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Webseite</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" name="webSite" value="<%= e.webSite %>" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Email</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="email" name="email" value="<%= e.email %>" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Nutzername</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" name="username" value="<%= e.username %>" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Passwort</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="password" name="oldPassword" placeholder="Altes Passwort eingeben" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Leeres Label für vertikale Ausrichtung -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="password" name="newPassword" placeholder="Neues Passwort eingeben" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Leeres Label für vertikale Ausrichtung -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="password" name="confirmNewPassword" placeholder="Neues Passwort bestätigen" required>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
                <div class="field">
                    <div class="control">
                        <button class="button is-link" type="submit">Speichern</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>