<%- include('../views/partials/head.ejs') %>

    <body>
        <div class="notification">
            <p class="title is-4">
                <%= fullName %>
                    <% if (isAdmin) { %> <span class="tag">Admin</span>
                        <% } %>
            </p>
            <p class="subtitle">
                <%= username %>
            </p>
            <div class="buttons">
                <a href="http://localhost:3000" target="_blank"><button class="button is-link" id="dashboard-button">Zum Dashboard</button></a>
                <a href="/logout"><button class="button is-danger is-outlined" id="logout-button">Abmelden</button></a>
            </div>
        </div>
    </body>
</html>